﻿@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Comic Presence <small>by Nodoubt Designs&reg;</small></h1>
    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web comic development.</p>
</div>
<div class="container">
    <div>
        @{Html.RenderAction("_ComicDisplay", "Comic");}
    </div>
</div>
<ul>
    <li>
        <a href="https://bitbucket.org/nodoubt223rd/comicpresence-v2" target="_blank">Bitbucket project</a>
    </li>
    <li>
        @Html.ActionLink("Comics", "Index")
    </li>
    <li>Version 2.0.0
    </li>
</ul>
