﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Comic Presence</title>
    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/dashboard/fontawesome")
    @Styles.Render("~/dashboard/simpleLineIcons")
    @Styles.Render("~/dashboard/animatecss")
    @Styles.Render("~/dashboard/whirl")
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <!-- ================ Favicon ================ -->
    <link rel="shortcut icon" href="~/Areas/Dashboard/favicon.ico" />
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link href="@Styles.Url("~/Areas/Dashboard/Content/app/css/bootstrap.css")" rel="stylesheet" type="text/css" id="bscss" />
    <!-- =============== APP STYLES ===============-->
    <link href="@Styles.Url("~/Areas/Dashboard/Content/app/css/app.css")" rel="stylesheet" type="text/css" id="maincss" />

</head>
<body class="layout-fixed">
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            @Html.Partial("_TopNavbar")
        </header>
        <!-- sidebar-->
        <aside class="aside">
            @Html.Partial("_Sidebar")
        </aside>
        <!-- offsidebar-->
        <aside class="offsidebar">
            @Html.Partial("_Offsidebar")
        </aside>
        <!-- Main section-->
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </section>
        <!-- Page footer-->
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    @if (IsSectionDefined("BodyArea"))
    {@RenderSection("BodyArea", required: false)}
    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/dashboard/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    @Scripts.Render("~/dashboard/bootstrap")
    @Scripts.Render("~/dashboard/storage")
    @Scripts.Render("~/dashboard/jqueryEasing")
    @Scripts.Render("~/dashboard/animo")
    @Scripts.Render("~/dashboard/slimscroll")
    @Scripts.Render("~/dashboard/screenfull")
    @Scripts.Render("~/dashboard/localize")
    @Scripts.Render("~/dashboard/demoRTL")
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->
    @Scripts.Render("~/dashboard/baseScripts")
</body>
</html>

