﻿@using ComicPresence.Common.Extentions

@{
    Layout = null;
}

<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img src="~/Areas/Dashboard/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                                <div class="circle circle-success circle-lg"></div>
                            </div>
                        </div>
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            <span class="user-block-name">Hello, Mike</span>
                            <span class="user-block-role">Designer</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                <span>Main Navigation</span>
            </li>
            <li class="@Html.isActive(controller: "Dashboard")">
                <a href="#dashboard" title="Dashboard" data-toggle="collapse">
                    <em class="icon-speedometer"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                </a>
                <ul id="dashboard" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Dashboard</li>
                    <li class="@Html.isActive("Dashboard", "Dashboard_v1")">
                        <a href="@Url.Action("Dashboard_v1", "Dashboard")" title="Dashboard v1">
                            <em></em>
                            <span>Dashboard v1</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Dashboard", "Dashboard_v2")">
                        <a href="@Url.Action("Dashboard_v2", "Dashboard")" title="Dashboard v2">
                            <em></em>
                            <span>Dashboard v2</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Dashboard", "Dashboard_v3")">
                        <a href="@Url.Action("Dashboard_v3", "Dashboard")" title="Dashboard v3">
                            <em></em>
                            <span>Dashboard v3</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Widgets")">
                <a href="@Url.Action("Index", "Widgets")" title="Widgets">
                    <em class="icon-grid"></em>
                    <div class="label label-success pull-right">30</div>
                    <span data-localize="sidebar.nav.WIDGETS">Widgets</span>
                </a>
            </li>
            <li>
                <a href="#layout" title="Layouts" data-toggle="collapse">
                    <em class="icon-layers"></em>
                    <span>Layouts</span>
                </a>
                <ul id="layout" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Horizontal</li>
                    <li>
                        <a href="@Url.Action("Dashboard_h", "Dashboard")" title="Dashboard Horizontal">
                            <em></em>
                            <span>Horizontal</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">
                <span>Components</span>
            </li>
            <li class="@Html.isActive(controller: "Elements")">
                <a href="#elements" title="Elements" data-toggle="collapse">
                    <em class="icon-chemistry"></em>
                    <span data-localize="sidebar.nav.element.ELEMENTS">Elements</span>
                </a>
                <ul id="elements" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Elements</li>
                    <li class="@Html.isActive("Elements", "Buttons")">
                        <a href="@Url.Action("Buttons", "Elements")" title="Buttons">
                            <span data-localize="sidebar.nav.element.BUTTON">Buttons</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Notifications") ">
                        <a href="@Url.Action("Notifications", "Elements")" title="Notifications">
                            <span data-localize="sidebar.nav.element.NOTIFICATION">Notifications</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Carousel")">
                        <a href="@Url.Action("Carousel", "Elements")" title="Carousel">
                            <span data-localize="sidebar.nav.element.INTERACTION">Carousel</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Spinners")">
                        <a href="@Url.Action("Spinners", "Elements")" title="Spinners">
                            <span data-localize="sidebar.nav.element.SPINNER">Spinners</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Animations")">
                        <a href="@Url.Action("Animations", "Elements")" title="Animations">
                            <span data-localize="sidebar.nav.element.ANIMATION">Animations</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "DropdownAnimations")">
                        <a href="@Url.Action("DropdownAnimations", "Elements")" title="Dropdown">
                            <span data-localize="sidebar.nav.element.DROPDOWN">Dropdown</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Nestable")">
                        <a href="@Url.Action("Nestable", "Elements")" title="Nestable">
                            <span>Nestable</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Sortable")">
                        <a href="@Url.Action("Sortable", "Elements")" title="Sortable">
                            <span>Sortable</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Panels")">
                        <a href="@Url.Action("Panels", "Elements")" title="Panels">
                            <span data-localize="sidebar.nav.element.PANEL">Panels</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Portlets")">
                        <a href="@Url.Action("Portlets", "Elements")" title="Portlets">
                            <span data-localize="sidebar.nav.element.PORTLET">Portlets</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Grid")">
                        <a href="@Url.Action("Grid", "Elements")" title="Grid">
                            <span data-localize="sidebar.nav.element.GRID">Grid</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "GridMasonry")">
                        <a href="@Url.Action("GridMasonry", "Elements")" title="Grid Masonry">
                            <span data-localize="sidebar.nav.element.GRID_MASONRY">Grid Masonry</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Typo")">
                        <a href="@Url.Action("Typo", "Elements")" title="Typography">
                            <span data-localize="sidebar.nav.element.TYPO">Typography</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "IconsFont")">
                        <a href="@Url.Action("IconsFont", "Elements")" title="Font Icons">
                            <div class="label label-success pull-right">+400</div>
                            <span data-localize="sidebar.nav.element.FONT_ICON">Font Icons</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "IconsWeather")">
                        <a href="@Url.Action("IconsWeather", "Elements")" title="Weather Icons">
                            <div class="label label-success pull-right">+100</div>
                            <span data-localize="sidebar.nav.element.WEATHER_ICON">Weather Icons</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Elements", "Colors")">
                        <a href="@Url.Action("Colors", "Elements")" title="Colors">
                            <span data-localize="sidebar.nav.element.COLOR">Colors</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Forms")">
                <a href="#forms" title="Forms" data-toggle="collapse">
                    <em class="icon-note"></em>
                    <span data-localize="sidebar.nav.form.FORM">Forms</span>
                </a>
                <ul id="forms" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Forms</li>
                    <li class="@Html.isActive("Forms", "FormStandard")">
                        <a href="@Url.Action("FormStandard", "Forms")" title="Standard">
                            <span data-localize="sidebar.nav.form.STANDARD">Standard</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "FormExtended")">
                        <a href="@Url.Action("FormExtended", "Forms")" title="Extended">
                            <span data-localize="sidebar.nav.form.EXTENDED">Extended</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "FormValidation")">
                        <a href="@Url.Action("FormValidation", "Forms")" title="Validation">
                            <span data-localize="sidebar.nav.form.VALIDATION">Validation</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "FormWizard")">
                        <a href="@Url.Action("FormWizard", "Forms")" title="Wizard">
                            <span>Wizard</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "FormUpload")">
                        <a href="@Url.Action("FormUpload", "Forms")" title="Upload">
                            <span>Upload</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Forms", "FormXEditable")">
                        <a href="@Url.Action("FormXEditable", "Forms")" title="xEditable">
                            <span>xEditable</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Charts")">
                <a href="#charts" title="Charts" data-toggle="collapse">
                    <div class="label label-success pull-right">new</div>
                    <em class="icon-graph"></em>
                    <span data-localize="sidebar.nav.chart.CHART">Charts</span>
                </a>
                <ul id="charts" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Charts</li>
                    <li class="@Html.isActive("Charts", "ChartFlot")">
                        <a href="@Url.Action("ChartFlot", "Charts")" title="Flot">
                            <span data-localize="sidebar.nav.chart.FLOT">Flot</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "ChartRadial")">
                        <a href="@Url.Action("ChartRadial", "Charts")" title="Radial">
                            <span data-localize="sidebar.nav.chart.RADIAL">Radial</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "ChartJS")">
                        <a href="@Url.Action("ChartJS", "Charts")" title="Chart JS">
                            <span>Chart JS</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "ChartRickshaw")">
                        <a href="@Url.Action("ChartRickshaw", "Charts")" title="Rickshaw">
                            <div class="label label-success pull-right">new</div>
                            <span>Rickshaw</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "ChartMorris")">
                        <a href="@Url.Action("ChartMorris", "Charts")" title="Morris JS">
                            <div class="label label-success pull-right">new</div>
                            <span>Morris</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Charts", "ChartChartist")">
                        <a href="@Url.Action("ChartChartist", "Charts")" title="Chartist">
                            <div class="label label-success pull-right">new</div>
                            <span>Chartist</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Tables")">
                <a href="#tables" title="Tables" data-toggle="collapse">
                    <em class="icon-grid"></em>
                    <span data-localize="sidebar.nav.table.TABLE">Tables</span>
                </a>
                <ul id="tables" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Tables</li>
                    <li class="@Html.isActive("Tables", "TableStandard")">
                        <a href="@Url.Action("TableStandard", "Tables")" title="Standard">
                            <span data-localize="sidebar.nav.table.STANDARD">Standard</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Tables", "TableExtended")">
                        <a href="@Url.Action("TableExtended", "Tables")" title="Extended">
                            <span data-localize="sidebar.nav.table.EXTENDED">Extended</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Tables", "TableDatatable")">
                        <a href="@Url.Action("TableDatatable", "Tables")" title="DataTables">
                            <span data-localize="sidebar.nav.table.DATATABLE">DataTables</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Tables", "TableJQGrid")">
                        <a href="@Url.Action("TableJQGrid", "Tables")" ti title="TableJQGrid">
                            <span>TableJQGrid</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Maps")">
                <a href="#maps" title="Maps" data-toggle="collapse">
                    <em class="icon-map"></em>
                    <span data-localize="sidebar.nav.map.MAP">Maps</span>
                </a>
                <ul id="maps" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Maps</li>
                    <li class="@Html.isActive("Maps", "MapsGoogle")">
                        <a href="@Url.Action("MapsGoogle", "Maps")" title="Google Maps">
                            <span data-localize="sidebar.nav.map.GOOGLE">Google Maps</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Maps", "MapsVector")">
                        <a href="@Url.Action("MapsVector", "Maps")" title=" vector maps">
                            <span data-localize="sidebar.nav.map.VECTOR">Vector Maps</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-heading">
                <span>More</span>
            </li>
            <li class="@Html.isActive(controller: "Pages")">
                <a href="#pages" title="Pages" data-toggle="collapse">
                    <em class="icon-doc"></em>
                    <span data-localize="sidebar.nav.pages.PAGES">Pages</span>
                </a>
                <ul id="pages" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Pages</li>
                    <li class=" ">
                        <a href="@Url.Action("Login", "Pages")" title=" login">
                            <span data-localize="sidebar.nav.pages.LOGIN">Login</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("Register", "Pages")" title="Sign up">
                            <span data-localize="sidebar.nav.pages.REGISTER">Sign up</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("Recover", "Pages")" title="Recover Password">
                            <span data-localize="sidebar.nav.pages.RECOVER">Recover Password</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("Lock", "Pages")" title="Lock">
                            <span data-localize="sidebar.nav.pages.LOCK">Lock</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("Error_404", "Pages")" title="404">
                            <span>404</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Pages", "Template")">
                        <a href="@Url.Action("Template", "Pages")" title="Template">
                            <span>Template</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Extras")">
                <a href="#extras" title="Extras" data-toggle="collapse">
                    <em class="icon-cup"></em>
                    <span data-localize="sidebar.nav.extra.EXTRA">Extras</span>
                </a>
                <ul id="extras" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Extras</li>
                    <li class="@Html.isActive("Extras", "Mailbox")">
                        <a href="@Url.Action("Mailbox", "Extras")" title="Mailbox">
                            <span data-localize="sidebar.nav.extra.MAILBOX">Mailbox</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "Timeline")">
                        <a href="@Url.Action("Timeline", "Extras")" title="Timeline">
                            <span data-localize="sidebar.nav.extra.TIMELINE">Timeline</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "Calendar")">
                        <a href="@Url.Action("Calendar", "Extras")" title="Calendar">
                            <span data-localize="sidebar.nav.extra.CALENDAR">Calendar</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "Invoice")">
                        <a href="@Url.Action("Invoice", "Extras")" title="Invoice">
                            <span data-localize="sidebar.nav.extra.INVOICE">Invoice</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "Search")">
                        <a href="@Url.Action("Search", "Extras")" title="Search">
                            <span data-localize="sidebar.nav.extra.SEARCH">Search</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "Todo")">
                        <a href="@Url.Action("Todo", "Extras")" title="Todo List">
                            <span data-localize="sidebar.nav.extra.TODO">Todo List</span>
                        </a>
                    </li>
                    <li class="@Html.isActive("Extras", "UserProfile")">
                        <a href="@Url.Action("UserProfile", "Extras")" title="Profile">
                            <span data-localize="sidebar.nav.extra.PROFILE">Profile</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Multilevels")">
                <a href="#multilevel" title="Multilevel" data-toggle="collapse">
                    <em class="fa fa-folder-open-o"></em>
                    <span>Multilevel</span>
                </a>
                <ul id="multilevel" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Multilevel</li>
                    <li class="@Html.isActive("Multilevels", "Multilevel_1")">
                        <a href="#level1" title="Level 1" data-toggle="collapse">
                            <span>Level 1</span>
                        </a>
                        <ul id="level1" class="nav sidebar-subnav collapse">
                            <li class="sidebar-subnav-header">Level 1</li>
                            <li class="@Html.isActive("Multilevels", "Multilevel_1")">
                                <a href="@Url.Action("Multilevel_1", "Multilevels")" title="Level1 Item">
                                    <span>Level1 Item</span>
                                </a>
                            </li>
                            <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                                <a href="#level2" title="Level 2" data-toggle="collapse">
                                    <span>Level 2</span>
                                </a>
                                <ul id="level2" class="nav sidebar-subnav collapse">
                                    <li class="sidebar-subnav-header">Level 2</li>
                                    <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                                        <a href="#level3" title="Level 3" data-toggle="collapse">
                                            <span>Level 3</span>
                                        </a>
                                        <ul id="level3" class="nav sidebar-subnav collapse">
                                            <li class="sidebar-subnav-header">Level 3</li>
                                            <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                                                <a href="@Url.Action("Multilevel_3", "Multilevels")" title="Level3 Item">
                                                    <span>Level3 Item</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.isActive(controller: "Documentation")">
                <a href="@Url.Action("Index", "Documentation")" title="Documentation">
                    <em class="icon-graduation"></em>
                    <span data-localize="sidebar.nav.DOCUMENTATION">Documentation</span>
                </a>
            </li>
            <li class="@Html.isActive(controller: "Movies")">
                <a href="@Url.Action("Index", "Movies")" title="Movie App">
                    <em class="icon-trophy"></em>
                    <span>Movie App</span>
                </a>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
