﻿@model ComicPresence.Model.dtoComic

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title</h3>
    </div>
    <div class="panel-body">
        <img src="@Url.Content(Model.ComicImage)" alt="@Model.Title" />
    </div>
</div>
    
