﻿@model IEnumerable<ComicPresence.Model.dtoComic>

@{
    ViewBag.Title = "Comics";
}

<div class="row">
        <div class="col-lg-12">
            <div class="'page-header">
                <h1 id="comics">Comics</h1>
            </div>
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ComicID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AuthorID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IllustratorID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WriterID)
                            </th>
                            <th>
                                Author Name
                            </th>
                            <th>
                                    Chapter
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComicDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComicSlug)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComicID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuthorID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IllustratorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WriterID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WriterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Chapter.ChapterTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>        
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComicDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComicSlug)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>
